/* CarrosselStyle.css */
.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: carousel 15s linear infinite;
    align-items: center;
    /* Adicione a animação de carrossel aqui */
}

.slide {
    flex: 0 0 20%;
    /* Ajuste a largura do slide conforme necessário */
    padding: 0 5px;
    box-sizing: border-box;
}

.img-carrossel {
    width: 50%;
    margin-left: 30px;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}